<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação formadora - Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Victor Soares</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card class="fundo">
      <ion-card-header>
        <ion-card-title>Victor Soares</ion-card-title>
        <ion-card-subtitle>22107250</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-justify-content-start">
        <ion-img class="foto-img ion-thumbnail" src="../../assets/img/img1.jpg"></ion-img>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
